*{
    padding: 0px;
    margin:0px;
}

.admin-container{
    display:flex;
    flex-direction: row;
    
    /* width:100%; */
}
.navigation{
    width:180px;
    height:100vh;
    /* overflow-y: scroll; */
    background-color: rgba(0, 0, 0, 0.733);      
    transition:0.3s;
    /* flex-grow: 1; */
}
.navigation.active{
	width: 60px;
	overflow: hidden;
    /* height:100%; */
    /* flex-grow: 1; */
  }
  .navigation.active .company img{
    text-align: center;
  }
  .navigation.active .company a .company-name{
	display: none;
  }
.company{
    padding: 10px;
}
.company a{
    text-decoration: none;
    white-space: nowrap;
}
.company .logo{
    width:30px;
    height:30px;
}
.company-name{
    font-size: 30px;
    padding: 10px;
    color: whitesmoke;
}
.navigation ul{
    padding: 0;
}

.navigation ul li{
    font-size: 22px;
    list-style-type: none;   
    padding: 5px 5px;
}
.navigation ul li a:hover{
    opacity:0.5;
    background-color: white;
}
.navigation ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    white-space: nowrap;
}
.navigation ul li .icon{
    padding:2px;
    text-align: center;
}
.navigation ul li a .name{
    padding:0 5px;
}
.navigation.active  .name{
    display:none;
    padding:0 5px;
}
.active-tab{
    background-color: white;
    transition-property:background-color;
    transition: 0.5s;
}
.main{
    width: calc(100% - 180px);
    /* flex-grow: 1; */

}
.main.active{
    width: calc(100% - 60px);
    /* flex-grow: 1; */
}
.main .header{  
    /* border:1px solid red; */
    margin:10px;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.main .header button{
    margin:2px;
}
.admin-main{
   padding: 5px;
}
#sideBar-btn{
    font-size: 30px;
}
.info{  
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.info .total{
    background-color:rgba(197, 197, 169, 0.5);
    width:25%;
    height:100px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    margin:50px;
}
.info .total:hover{
    background-color: rgb(196, 196, 196);
}
.info .total .food-icon{
    font-size: 70px;
}
.table-container{
    margin:10px;
}
h3{
    margin: 10px;
}

.user-form{
    width:100%;
}
.user-form form{
    width:100%;
    padding:10px;
}
h2{
    padding:10px;
}
.back-btn{
    margin:10px;
}
.add-btn{
    margin:10px;
}
#form-hide{
    display: none;
}
#form-show{
    display: block;
}

@media screen and (max-width:500px){
    .navigation{
        display:none;       
    }
    .navigation.active{
        width:180px;      
        display:block; 
    }
    .main{
        width:100%;
    }
    
    .info{
        flex-direction: column;
    }
    .info .total{
        width:85%;
        margin:10px;
    }
    
}

/* @media screen  and (min-width:500px){
    .navigation{
        height:100vh;
        overflow-y: hidden;
    }
} */
