.book-body{
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
    scroll-behavior: smooth;
}
/*Header CSS*/
header{
  z-index:1000;
}
.offcanvas-body a{
  color:whitesmoke;
  font-size: 18px;
}
.lineUp {
  animation: 2s anim-lineUp ease-out 1;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.lineRight{
animation: 2s anim-lineRight ease-out 1;
}
@keyframes anim-lineRight {
0% {
  opacity: 0;
  transform: translateX(-80%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateX(0%);
}
100% {
  opacity: 1;
  transform: translateX(0%);
}
}
header{
  position: sticky;
  top:0px;
}

/*Footer CSS */
.footer-container{
  background-color: black;
  width:100%;
  height:auto;
  color:whitesmoke;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}
#social-links{
display: flex;
gap:10px;
list-style-type: none;
}
.social-icon{
color: whitesmoke;
margin: 5px;
font-size: 20px;
}



form{
    height: auto;
    width: 350px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 5px rgba(8,7,16,0.6);
    padding: 5px 5px;
    /* margin:5px; */
    margin-bottom: 50px;
}
form *{
    font:inherit;
}
.book-content h3{
    margin-top: 50px;
}
.book-main-container h3{
    margin: 10px;
}
label{
    display: block;
    /* margin-top: 30px; */
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
input:hover{
    opacity: 0.5;
}
 .book-main-container{
    width:100%;
    height:auto;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    margin-top: 100px;
  }
  .book-image-container{
    width:50%;
    
  }
  .book-image-container img{
    height:100%;
    width:100%;
  }
  .book-content{
    width:50%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .book-details button{
    text-align: center;
    width:100%;
    margin-top:10px;
  }

  @media screen and (min-width:300px) {
    .header-container{
      flex-direction: column;
    }
    .carousel-inner img{
      height:200px;
    }
    .book-main-container{
      flex-direction: column;
    }
    .book-image-container{
      width:100%;
      /* display:none; */
    }
    .book-content{
      width:100%;
    }
  }
  @media screen and (min-width:600px) {
    .header-container{
      flex-direction: row;
    }
    .carousel-inner img{
      height:500px;
    }
    .book-main-container{
      flex-direction: column;
    }
    .book-image-container{
      width:100%;
    }
    .book-content{
      width:100%;
    }
  }
  @media screen and (min-width:1000px){
    .header-container{
      flex-direction: row;
    }
    .carousel-inner img{
      height:500px;
    }
    .book-main-container{
      flex-direction: row;
    }
    .book-image-container{
      width:100%;
    }
    .book-content{
      width:100%;
      
    }
  }