.change-body{
    background-color: #080710;
    width:100%;
    height:100vh;
}
.change-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-container form{
    height: auto;
    width: 350px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    align-self: center;
    margin-top: 100px;
}
.change-container form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.change-container form h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 18px;
}
.change-container form p{
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 0;
}

.change-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.change-form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    margin-left: 2px;
}
.change-form input:hover{
    opacity: 0.5;
}
::placeholder{
    color: #e5e5e5;
}
.change-form button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    margin-left: 5px;
}
.change-form button:hover{
    /* background-color: rgba(131, 133, 145, 0.205); */
    opacity: 0.7;
}
.change-form a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.change-form a:hover{
    opacity: 0.5;
}
.change-form .forget{
    margin-top:10px;
    text-align: center;
}
.change-form .logo {
    background-image: url('../assets/lock.jpg');
    background-size: cover;
    width:100px;
    height:100px;
    border-radius: 50px;
    margin-inline: auto;
    margin-top:-100px;
    margin-bottom: -10px;
}
#otp-info{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 16px;
}


