.home-body{
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
    scroll-behavior: smooth;
}
/*Header CSS*/
header{
  z-index:1000;
}
.offcanvas-body a{
  color:whitesmoke;
  font-size: 18px;
}
.lineUp {
    animation: 2s anim-lineUp ease-out 1;
  }
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
.lineRight{
  animation: 2s anim-lineRight ease-out 1;
}
@keyframes anim-lineRight {
  0% {
    opacity: 0;
    transform: translateX(-80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* header{
    position: sticky;
    top:0px;
} */

/*Footer CSS */
.footer-container{
    background-color: black;
    width:100%;
    height:auto;
    color:whitesmoke;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}
#social-links{
  display: flex;
  gap:10px;
  list-style-type: none;
}
.social-icon{
  color: whitesmoke;
  margin: 5px;
  font-size: 20px;
}


.home-main-container{
  width:100%;
  height:auto;
  padding: 10px;
  flex-grow: 1;
  display: flex;
 
}
.home-image-container{
  width:50%;
  margin-top:100px;
}
.home-image-container img{
  height:100%;
  width:100%;
}
.carousel-inner img{
  height:600px;
}
.home-book-content{
  width:50%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-details{
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 10px rgba(8,7,16,0.6);
  margin:40px;
  padding:20px;
  width:85%;
  height:auto;
  display: grid;
  place-content: center;
}
.home-details:hover{
  transform: translateY(-2%);
}
.home-details h5,h6{
  padding: 10px;
  text-align: center;
}
.home-details a{
  margin: 10px;
  text-align: center;
}

@media screen and (min-width:280px) {
  .header-container{
    flex-direction: column;
  }
  .carousel-inner img{
    height:200px;
  }
  .home-main-container{
    flex-direction: column;
  }
  .home-image-container{
    width:100%;
    /* display:none; */
  }
  .home-book-content{
    width:100%;
  }
}
@media screen and (min-width:600px) {
  .header-container{
    flex-direction: row;
  }
  .carousel-inner img{
    height:500px;
  }
  .home-main-container{
    flex-direction: row;
  }
  .home-image-container{
    width:100%;
  }
  .home-book-content{
    width:100%;
  }
}
  