.profile-body{
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
    scroll-behavior: smooth;
}
/*Header CSS*/
header{
  z-index:1000;
}
.offcanvas-body a{
  color:whitesmoke;
  font-size: 18px;
}
.lineUp {
  animation: 2s anim-lineUp ease-out 1;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.lineRight{
animation: 2s anim-lineRight ease-out 1;
}
@keyframes anim-lineRight {
0% {
  opacity: 0;
  transform: translateX(-80%);
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
  transform: translateX(0%);
}
100% {
  opacity: 1;
  transform: translateX(0%);
}
}
header{
  position: sticky;
  top:0px;
}

/*Footer CSS */
.footer-container{
  background-color: black;
  width:100%;
  height:auto;
  color:whitesmoke;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}
#social-links{
display: flex;
gap:10px;
list-style-type: none;
}
.social-icon{
color: whitesmoke;
margin: 5px;
font-size: 20px;
}

.profile-container{
    flex-grow: 1;
}
.profile-container img{
    width:100%;
    height:300px;
}
#profile-logo{
    width:200px;
    height:200px;
}
.profile-image{
    width:100px;
    height:100px;
    border-radius: 50px;
    margin: 10px;
    margin-top: -110px;
}
.user-info{
    /* border:1px solid red; */
    /* width:100%; responsive */
    width:800px;
    height:auto;
    margin-inline: auto;
    margin-top: 80px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 1px rgba(8,7,16,0.6);
}
.user-settings{
    /* border:1px solid red; */
    /* width:100%; responsive */
    width:800px;
    height:auto;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 1px rgba(8,7,16,0.6);
}
.user-info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    text-align: center;
}
.user-info-content{
    margin:10px;
}
.user-info-content button{
    width:100%;
    border:none;
}
.user-info-content button:hover{
    opacity:0.6;
    color:black;
    border:none;
}
.user-info-content .container{
    width:100%;
    height:auto;
    background-color: rgb(228, 216, 200);
    font-family:'Poppins',sans-serif;
    padding-left:5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#qun{
    color:grey;
}
#ans{
    font-weight: bold;
}


@media screen and (min-width:300px) {
  .header-container{
    flex-direction: column;
  }
  .carousel-inner img{
    height:200px;
  }
  .home-main-container{
    flex-direction: column;
  }
  .home-image-container{
    width:100%;
    /* display:none; */
  }
  .home-book-content{
    width:100%;
  }
  .user-info{
    width:100%;
  }
  .user-settings{
    width:100%;
  }
}
@media screen and (min-width:600px) {
  .header-container{
    flex-direction: row;
  }
  .carousel-inner img{
    height:500px;
  }
  .home-main-container{
    flex-direction: row;
  }
  .home-image-container{
    width:100%;
  }
  .home-book-content{
    width:100%;
  }
}
@media screen and (min-width:1000px){
  .user-info{
    width:800px;
  }
  .user-settings{
    width: 800px;
  }
}
